.add-post {
  margin-bottom: 110px;
  max-width: 2000px;
  margin: 0 auto 110px;
}

.blog-forms {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.blog-forms input {
  max-width: 1270px;
  margin-bottom: 30px;
  border-radius: 30px;
  border: solid 1px #333333;
  height: 53px;
  font-size: 16px;
  padding-left: 15px;
  width: 95%;
  padding-right: 15px;
}

.blog-forms label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

#newCategoryForm {
  display: none;
  margin-top: 10px;
}

.add-btn {
  width: 80%;
  max-width: 334px;
  background-color: #eda92e;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  height: 55px;
  border: none;
  border-radius: 30px;
  margin: 0 auto;
}

.add-btn:hover {
  color: #333333;
  background-color: #ffffff;
  border: #eda92e solid 2px;
}

.fa-plus {
  font-size: 18px;
  padding-right: 5px;
}

#editor {
  margin-bottom: 40px;
}

.ql-toolbar.ql-snow {
  background-color: #efeeee;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #333333 !important;
  max-width: 1300px;
}

.ql-container {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px !important;
  color: #333333;
  padding: 12px;
  min-height: 400px;
  border: solid 1px #333333 !important;
  border-top: 0px !important;
  max-height: 500px;
  max-width: 1300px;
  overflow-y: auto;
  padding-right: 10px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  margin-bottom: 50px;
}

#tags {
  margin-bottom: 15px;
}

.tag-item {
  background-color: #1f789c;
  color: #ffffff;
  height: 45px;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 1px 8px 1px 20px;
  max-width: fit-content;
  gap: 20px;
}

.tag-remove {
  border: none;
  background-color: transparent;
  font-size: 27px;
  color: #ffffff;
}

@media (min-width: 998px) {
  .add-btn {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .blog-forms {
    padding-left: 54px;
  }
}

@media (min-width: 1500px) {
  .add-btn {
    margin: 0;
  }
}
