.margin {
  margin: 20px 0 90px;
}

.mobile-only {
  display: inline-block;
}
.desktop-only {
  display: none;
}

.overlay.hidden {
  display: none;
}

#feed-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#feed-heading-container a {
  font-size: 16px;
  font-weight: 600;
  padding-right: 16px;
  color: #333333;
  text-decoration: none;
}

.styled-border {
  background-color: rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.filter-btn {
  text-transform: uppercase;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 0 16px;
  cursor: pointer;
}

.fa-caret-down {
  padding-left: 5px;
  position: relative;
  top: 2px;
  font-size: 28px;
  color: #333333;
}

#search-form-feed {
  margin: 40px 0 45px 16px;
  padding-right: 16px;
  max-width: 550px;
  position: relative;
}

#search-filter {
  border-radius: 30px;
  border: solid 1px #333333;
  height: 49px;
  padding-left: 15px;
  font-size: 16px;
  width: 99%;
}

#search-filter::placeholder {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.38);
}

#search-filter-btn {
  background-color: #eda92e;
  color: #ffffff;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  padding: 16px 40px;
  position: absolute;
  right: 16px;
  cursor: pointer;
}

#search-filter-btn:hover {
  color: #333333;
  background-color: #ffffff;
  border: #eda92e solid 2px;
}

/* Sorting overlay */
#sort-overlay {
  position: absolute;
  background-color: #ffffff;
  width: 80%;
  max-width: 380px;
  top: 40%;
  border: solid 1px #333333;
  border-radius: 20px;
  padding: 20px 16px 25px 16px;
  z-index: 1000;
  left: 16px;
}

#sort-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#sort-form label {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  height: 19px;
  width: 19px;
}

#apply-sort {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #0790a5;
  border-radius: 30px;
  height: 48px;
  width: 50%;
  max-width: 220px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

#apply-sort:hover {
  color: #333333;
  background-color: #ffffff;
  border: solid 2px #0790a5;
}

#close-sort {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 16px;
  width: 40%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inline-block;
  }

  .filter-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
  }

  .filter-container {
    display: flex;
    gap: 20px;
    position: relative;
    bottom: 20px;
  }

  #search-filter-btn {
    right: 0;
  }

  #search-form-feed {
    margin-top: 30px;
    padding: 0;
  }

  .filter-btn {
    margin: 0;
  }

  #sort-overlay {
    top: 45%;
  }
}

@media (min-width: 998px) {
  .filter-container {
    gap: 47px;
  }

  #form-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #search-filter {
    font-size: 16px;
    height: 53px;
  }

  #search-filter-btn {
    height: 55px;
    width: 199px;
    right: 4px;
    bottom: -1px;
  }

  #search-form-feed {
    padding-right: 0;
    width: 100%;
  }

  #feed-heading-container a {
    font-size: 20px;
  }

  #feed-heading-container i {
    font-size: 22px;
  }

  #apply-sort {
    height: 53px;
    max-width: 200px;
    font-size: 18px;
  }

  .filter-btn,
  #close-sort {
    font-size: 18px;
  }
}
