.margin {
  margin: 20px 0 90px;
}

.margin-left {
  margin-left: 16px;
}

.mobile-only {
  display: inline-block;
}
.desktop-only {
  display: none;
}

.overlay.hidden {
  display: none;
}

#feed-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#feed-heading-container a {
  font-size: 16px;
  font-weight: 600;
  padding-right: 16px;
  color: #333333;
  text-decoration: none;
}

.styled-border {
  background-color: rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.filter-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  margin-top: 30px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  border-radius: 30px;
  border: solid 1px #333333;
  height: 49px;
  width: 91%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 444px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  box-sizing: border-box;
}

.dropdown-btn.active {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.dropdown-btn .fa-caret-down {
  font-size: 27px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 2000;
  flex-direction: column;
  border: #333333 solid 1px;
  border-top: none;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 91%;
  left: 16px;
  max-width: 444px;
  gap: 25px;
  padding: 25px 11px 25px 15px;
  box-sizing: border-box;
}

.dropdown-content label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-content input[type="radio"] {
  width: 19px;
  height: 19px;
}

.dropdown-content.show {
  display: flex;
}

/* Feed */
.blog-link {
  text-decoration: none;
  color: #333333;
}
.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 70px;
}

.blog-card {
  padding: 0 16px;
  max-width: 399px;
}

#feed-img {
  width: 100%;
  border-radius: 20px;
  max-width: 399px;
  height: 280px;
}

.blog-content h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  width: 100%;
  margin-bottom: 45px;
}

.author {
  font-size: 15px;
}

#tags-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

.tags {
  font-size: 15px;
  font-weight: 500;
  color: #1f789c;
}

.date {
  font-size: 15px;
}

#circle-feed {
  font-size: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin-top: 40px;
}

.pag-btn {
  height: 40px;
  font-size: 16px;
  min-width: 130px;
  width: fit-content;
  background-color: #0790a5;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.pag-btn:hover {
  color: #333333;
  background-color: #ffffff;
  border: solid 2px #0790a5;
}

#page-count {
  font-size: 16px;
}

.author-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.edit i {
  font-size: 17px;
}

/* Latest Posts (Carousel) */
.carousel {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.carousel-content {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 20px 0 130px;
}

.carousel-item {
  flex: 0 0 100%;
  scroll-snap-align: center;
  text-align: center;
}

.carousel-item img {
  min-height: 265px;
  min-width: 324px;
  object-fit: cover;
  border-radius: 20px;
  width: 70%;
  max-width: 700px;
}

.carousel-item a {
  text-decoration: none;
  color: #333333;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border-radius: 20px;
  padding: 0 16px 0;
  min-width: 324px;
  margin: 0 auto;
  min-height: 220px;
  box-sizing: border-box;
  width: 70%;
  max-width: 600px;
}

.carousel-text h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 0;
}

#tags-date {
  margin-top: auto;
}

.latest-tags,
.latest-date {
  font-size: 14px;
}

.carousel-button {
  position: absolute;
  top: 45%;
  z-index: 1;
  background: none;
  border: none;
  font-size: 45px;
  color: #333333;
  cursor: pointer;
}

.carousel-button.prev {
  left: 0;
}

.carousel-button.next {
  right: 0;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inline-block;
  }

  .blog-grid {
    grid-template-columns: 1fr 1fr;
  }

  .blog-card {
    max-width: 344px;
  }

  #feed-img {
    object-fit: cover;
    max-width: 344px;
  }

  .carousel-content {
    padding-bottom: 80px;
  }

  .carousel-item a {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }

  .carousel-text {
    box-shadow: none;
    justify-content: center;
  }

  .carousel-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #tags-date {
    margin-top: 0;
  }

  .latest-tags,
  .latest-date,
  .latest-author {
    font-size: 16px !important;
  }

  .carousel-button {
    top: 0;
    bottom: 0;
  }
}

@media (min-width: 998px) {
  .custom-dropdown {
    width: 50%;
  }

  #feed-heading-container a,
  .blog-content h2 {
    font-size: 20px;
  }

  #feed-heading-container i {
    font-size: 22px;
  }

  #page-count {
    font-size: 18px;
  }

  .blog-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tags,
  .date,
  .author {
    font-size: 16px;
  }

  .pag-btn {
    font-size: 18px;
    width: 180px;
    height: 53px;
  }

  .edit {
    font-size: 16px;
  }

  .edit i {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .blog-grid {
    padding: 0 54px;
    justify-items: center;
    max-width: 1600px;
    margin: 0 auto;
  }

  .blog-card {
    max-width: 430px;
  }

  #feed-img {
    max-width: 430px;
    height: 350px;
  }
}

@media (min-width: 2000px) {
  .blog-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
