body {
  color: #333333;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  padding: 0px 16px;
}

#bg {
  background: linear-gradient(to bottom, #0790a5, #1f789c);
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 106px;
}

#logo {
  width: 183px;
}

#hamburger {
  color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 5px;
  font-size: 27px;
  padding: 2px 5px;
  cursor: pointer;
  margin-bottom: 9px;
}

nav {
  visibility: hidden;
  height: 370px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 30px 16px;
  position: fixed;
  width: 92%;
  z-index: 1000;
  transform: translateY(-100%);
  top: 86%;
  left: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

nav.nav-active {
  visibility: visible;
}

.nav-link {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.56);
  padding-bottom: 5px;
  margin-bottom: 38px;
  cursor: pointer;
}

.nav-item {
  font-size: 18px;
  font-weight: bold;
}

#nav-text {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0px 11px 0px;
}

#nav-search {
  width: 100%;
  height: 53px;
  border: #333333 solid 1px;
  border-radius: 20px;
  padding-left: 15px;
}

#nav-search::placeholder {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.38);
}

.nav-search-btn {
  width: 74px;
  height: 53px;
  position: absolute;
  right: 15px;
  border-radius: 20px;
  border: none;
  background-color: #0790a5;
  font-size: 24px;
  color: #ffffff;
}
