/* General styling */
body {
  color: #333333;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 2500px;
}

#bg {
  background: linear-gradient(to bottom, #0790a5, #1f789c);
}

main {
  flex: 1;
  padding-top: 106px;
}

input:focus,
textarea:focus {
  outline: 1px solid #333333;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}

#nav-search::placeholder,
#footer-email::placeholder,
#newsletter-email::placeholder,
#search-input::placeholder {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.38);
}

/* Header */
header {
  height: 116px;
}

.header-styling {
  background-color: #0790a5;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 106px;
  z-index: 1100;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0px 16px;
}

.header-nav.nav-active {
  background-color: #0790a5;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#hamburger.nav-active {
  font-size: 30px;
}

#logo {
  transition: width 0.3s ease;
  width: 70%;
  max-width: 295px;
}

#hamburger {
  color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 5px;
  font-size: 30px;
  padding: 2px 5px;
  cursor: pointer;
  margin-bottom: 9px;
}

#hamburger.fa-xmark {
  font-size: 32px;
  padding: 1px 6px;
}

#navbar {
  display: none;
}

nav {
  visibility: hidden;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 50px 16px 30px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transform: translateY(-100%);
  top: 88px;
  left: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

nav.nav-active {
  visibility: visible;
  transform: translateY(0);
}

.nav-link {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.56);
  padding-bottom: 5px;
  margin-bottom: 38px;
  cursor: pointer;
}

.nav-item {
  font-size: 18px;
  font-weight: bold;
}

#nav-text {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0px 11px 0px;
}

#nav-search {
  width: 100%;
  height: 53px;
  border: #333333 solid 1px;
  border-radius: 30px;
  padding-left: 15px;
  font-size: 16px;
}

.nav-search-btn {
  width: 74px;
  height: 56px;
  position: absolute;
  right: 15px;
  border-radius: 30px;
  border: none;
  background-color: #0790a5;
  font-size: 24px;
  color: #ffffff;
  bottom: 29px;
}

#logout-link {
  display: none;
}

#search-overlay {
  display: none;
}

/* Footer */
footer {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 22px 70px 4px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0px 16px 40px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
}

.col-1 {
  text-align: center;
  grid-column: span 2;
  padding: 18px 0px 40px;
}

.footer-heading {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

#font {
  font-weight: 400;
}

.footer-text {
  font-size: 16px;
  margin-bottom: 24px;
}

#footer-container {
  position: relative;
  display: flex;
  align-items: center;
}

#footer-email {
  width: 100%;
  height: 49px;
  border: #333333 solid 1px;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 16px;
}

.subscribe-btn {
  position: absolute;
  color: #ffffff;
  background-color: #eda92e;
  height: 56px;
  width: 155px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  right: -1px;
}

.subscribe-btn:hover {
  color: #333333;
  background-color: #ffffff;
  border: #eda92e solid 2px;
}

.col-2 {
  display: grid;
  border-left: solid 1px #333333;
  padding-left: 12px;
  margin-left: 8px;
}

.col-3 {
  display: grid;
  border-left: solid 1px #333333;
  padding-left: 12px;
  margin-left: 20px;
}

.sub-container {
  display: flex;
  height: 50px;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 13px;
}

.footer-sub {
  font-size: 18px;
  font-weight: bold;
}

.fa-link {
  color: #1f789c;
  font-size: 24px;
}

.fa-comments {
  color: #eda92e;
  font-size: 24px;
}

.footer-links {
  font-size: 16px;
  padding-bottom: 20px;
  text-decoration: none;
  color: #333333;
}

/* Home */
.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  z-index: 1;
  text-align: center;
}

.hero-heading {
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 16px;
}

#hero-heading-2 {
  font-size: 32px;
  color: #eda92e;
  font-weight: bold;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 16px;
}

.illustration-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow-x: clip;
}

#illustration {
  position: absolute;
  transform: scale(1) rotate(-30deg);
  width: 160vw;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.hero-section h2 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 16px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  margin-top: 30px;
}

.hero-btn {
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  background-color: #eda92e;
  width: 100%;
  max-width: 366px;
  height: 53px;
}

.hero-btn:hover {
  background-color: transparent;
  border: solid 2px #eda92e;
}

.login-btn {
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  color: #333333;
  background-color: #ffffff;
  width: 100%;
  max-width: 366px;
  height: 53px;
}

.login-btn:hover {
  background-color: transparent;
  border: #ffffff solid 2px;
  color: #ffffff;
}

/* About section */
.about-container {
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 184px;
  z-index: 2;
  position: relative;
}

.about-container h2 {
  width: 265px;
  line-height: 30px;
  padding-top: 40px;
  padding-left: 16px;
}

.about-container p {
  padding-left: 16px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}

#home-image {
  width: 100%;
  height: 469px;
  object-fit: cover;
  padding-top: 25px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  top: 5px;
}

.text1 p:last-child {
  margin-top: 35px;
}

#bold-text {
  font-size: 18px;
  font-weight: 600;
}

/* Trending section */
.trending-container {
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 184px;
}

.trending-container h2 {
  padding-top: 40px;
  padding-left: 16px;
  margin-bottom: 10px;
}

.div2 {
  padding-bottom: 40px;
}

.div2 a {
  text-decoration: none;
  color: #333333;
  padding-left: 16px;
}

.div2 span {
  font-size: 16px;
  font-style: italic;
  font-weight: 200;
}

#arrow {
  width: 20px;
  height: 9px;
  display: inline-block;
  padding-left: 10px;
}

/* Newsletter section */
.newsletter-container {
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 184px;
  text-align: center;
  padding: 40px 0px 55px;
}

.fa-envelope {
  font-size: 40px;
  color: #eda92e;
}

.news1 p {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
}

.news1 h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  width: 400px;
  margin: 0 auto 40px;
}

.news-btn {
  height: 53px;
  right: 22px;
}

#newsletter-email {
  height: 49px;
  border: #333333 solid 1px;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 16px;
  width: 82%;
}

.news2 {
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ellipse {
  width: 327px;
}

#letters {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
}

#newsletter1 {
  width: 185px;
  height: 262px;
  transform: rotate(10deg);
  z-index: 2;
  top: 40px;
  position: relative;
  border: #333333 solid 1px;
  right: 20px;
}

#newsletter2 {
  width: 185px;
  height: 262px;
  transform: rotate(-10deg);
  position: relative;
  bottom: -10px;
  border: #333333 solid 1px;
  left: 35px;
  bottom: 30px;
}

#news-text {
  font-size: 16px;
  font-weight: 600;
  margin: 60px auto 0px;
  width: 70%;
}

@media (min-width: 600px) {
  #illustration {
    max-width: 1100px;
  }

  .trending-container {
    display: grid;
    grid-template-columns: 40% auto;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .div2 {
    padding-bottom: 0;
  }

  .trending-container h2 {
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .heading {
    font-size: 35px;
  }

  /* Header */
  #hamburger,
  nav {
    display: none;
  }

  .header-nav.nav-active {
    background-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
  }

  #logo {
    width: 80%;
    max-width: 359px;
  }

  #navbar {
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 30px;
    width: 70%;
    max-width: 750px;
    justify-content: space-evenly;
    transition: width 0.3s ease;
    height: 44px;
  }

  .navbar-btns {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-btns:hover {
    background-color: #ffffff;
    color: #333333;
    border-radius: 30px;
  }

  .search-icon {
    font-size: 18px;
    width: 50%;
  }

  #search-overlay {
    position: absolute;
    width: 63%;
    max-width: 752px;
    transition: opacity 0.3s ease, visibility 0.3s;
    display: none;
    z-index: 2000;
    top: 30px;
    right: 16px;
  }

  #search-overlay.active {
    display: flex;
  }

  .search-form {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  #search-input {
    height: 46px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background: #ffffff;
    outline: none;
    padding-left: 16px;
  }

  .search-btn {
    position: absolute;
    right: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #33333;
    font-size: 18px;
  }

  /* Home */
  .hero-container {
    align-items: baseline;
  }

  .hero-section {
    text-align: left;
    margin-top: 2.5rem;
  }

  .btn-container {
    flex-direction: row-reverse;
  }

  #illustration {
    width: 100%;
    transform: scale(1.2) rotate(-30deg);
  }

  .about-container h2 {
    width: 80%;
    line-height: 49px;
  }

  .div2 {
    padding-top: 8px;
  }

  .div2 span {
    font-size: 18px;
  }

  #arrow {
    width: 29px;
    height: 11px;
  }

  .div2:hover #arrow {
    transform: translateX(50px);
    transition: transform 0.3s ease-in-out;
  }

  .newsletter-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
    padding-top: 20px;
  }

  .news1 h2 {
    margin: 0 0 25px;
    padding-left: 16px;
  }

  .news1 p {
    padding-left: 16px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .fa-envelope {
    padding-left: 16px;
  }

  #newsletter-email {
    margin-left: 16px;
    width: 86%;
  }

  .news-btn {
    left: 32%;
    right: 0;
    width: 195px;
  }

  #news-text {
    margin: 0 0 0 16px;
    width: 100%;
    position: relative;
    bottom: 28px;
  }
}

@media (min-width: 998px) {
  #nav-search::placeholder,
  #footer-email::placeholder,
  #newsletter-email::placeholder,
  #search-input::placeholder,
  #search-input {
    font-size: 18px;
  }

  /* Header */
  #logo {
    width: 275px;
  }

  .navbar-btns {
    font-size: 16px;
  }

  .search-icon {
    font-size: 20px;
  }

  .search-btn {
    right: 27px;
    font-size: 20px;
  }

  #search-overlay {
    width: 68%;
  }

  /* Footer */
  footer {
    padding-bottom: 60px;
  }

  .footer-container {
    grid-template-columns: 2fr 1fr 1fr;
    max-width: 1500px;
    margin: 0 auto;
  }

  .col-1,
  .col-2,
  .col-3 {
    grid-column: span 1;
  }

  .col-1 {
    padding: 25px 0px 0px 25px;
    text-align: left;
    max-width: 500px;
  }

  .col-2 {
    margin: 80px 10px 0px 60px;
  }

  .col-3 {
    margin: 80px 0px 0px 40px;
  }

  .sub-container {
    margin-bottom: 0;
    height: 60px;
  }

  .footer-heading {
    font-size: 40px;
  }

  .footer-links {
    padding-bottom: 10px;
    font-size: 18px;
  }

  .footer-text {
    font-size: 18px;
  }

  #footer-email {
    max-width: 362px;
    font-size: 18px;
  }

  .subscribe-btn {
    width: 180px;
    font-size: 19px;
  }

  .footer-sub {
    font-size: 20px;
  }

  /* Home */
  #illustration {
    left: 10%;
    max-width: 1300px;
    top: 10%;
  }

  .hero-heading,
  #hero-heading-2 {
    font-size: 48px;
  }

  .hero-section h2 {
    font-size: 24px;
  }

  .hero-btn,
  .login-btn {
    height: 63px;
    font-size: 22px;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    height: 602px;
    padding: 0;
  }

  .text1 {
    padding-left: 35px;
    grid-column: 1;
  }

  .img2 {
    grid-column: 2;
  }

  .about-container h2 {
    max-width: 400px;
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .about-container p {
    font-size: 18px;
    max-width: 510px;
  }

  #bold-text {
    font-size: 20px;
  }

  .text1 p:nth-of-type(1) {
    margin-bottom: 40px;
  }

  #home-image {
    height: 602px;
    padding: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
    top: 0;
  }

  #news-text {
    font-size: 18px;
  }

  .newsletter-container form {
    position: relative;
  }

  #newsletter-email {
    font-size: 18px;
    height: 55px;
  }

  .news-btn {
    height: 62px;
    width: 228px;
    top: -1px;
    left: auto;
  }

  .news1 h2 {
    width: 540px;
    font-size: 35px;
    line-height: 43px;
  }

  .news1 p {
    font-size: 22px;
  }

  #ellipse {
    width: 380px;
  }

  #newsletter1,
  #newsletter2 {
    width: 225px;
    height: 307px;
  }
}

@media (min-width: 1440px) {
  .heading {
    font-size: 40px;
  }

  .navbar-btns {
    font-size: 18px;
  }

  .search-icon {
    font-size: 22px;
  }

  #illustration {
    left: 20%;
  }

  .hero-heading,
  #hero-heading-2 {
    font-size: 56px;
    padding-left: 54px;
  }

  .hero-section h2 {
    font-size: 28px;
    padding-left: 54px;
  }

  .btn-container {
    justify-content: flex-end;
    padding-left: 54px;
  }

  .hero-btn,
  .login-btn {
    height: 66px;
    font-size: 22px;
    max-width: 400px;
  }

  .text1 {
    padding-left: 54px;
    max-width: 650px;
  }

  .about-container p {
    max-width: 550px;
  }

  .trending-container {
    grid-template-columns: 30% auto;
  }

  .trending-container h2 {
    padding-left: 54px;
  }

  .div2 span {
    font-size: 20px;
  }

  .news1 h2 {
    font-size: 40px;
    line-height: 49px;
    padding-left: 54px;
  }

  .news1 p {
    font-size: 26px;
    padding-left: 54px;
  }

  #news-text {
    bottom: 60px;
    padding-left: 54px;
  }

  #ellipse {
    width: 478px;
  }

  #newsletter1,
  #newsletter2 {
    width: 270px;
    height: 382px;
  }

  .fa-envelope {
    padding-left: 54px;
  }

  .newsletter-container form {
    padding-left: 54px;
    width: 750px;
  }

  #newsletter-email {
    width: 550px;
    margin: 0;
  }
}

@media (min-width: 2000px) {
  #illustration {
    max-width: 1600px;
  }

  .newsletter-container {
    text-align: center;
  }

  .news1 h2 {
    padding: 0;
    margin: 0 auto 25px;
  }

  .news1 p,
  .fa-envelope,
  #news-text {
    padding-left: 0;
  }

  .newsletter-container form {
    padding-left: 0;
    margin: 0 auto;
  }
}
